html,
body {
    background-color: black;
    color: white;
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 100%;
}

/* ----------------------------- Fonts: ---------------------------- */

@font-face {
    font-family: "Myriad-Pro-Regular";
    src: url("fonts/Myriad Pro/MYRIADPRO-REGULAR.OTF");
}

@font-face {
    font-family: "Gotham-Bold";
    src: url("fonts/Gotham-Font/Gotham-Bold.otf");
}

@font-face {
    font-family: "Gotham-Medium";
    src: url("fonts/Gotham-Font/GothamMedium.ttf");
}

@font-face {
    font-family: "Gotham-Book";
    src: url("fonts/Gotham-Font/GothamBook.ttf");
}

.myriad_pro_regular {
    font-family: "Myriad-Pro-Regular";
}

.open_sans {
    font-family: "Open Sans";
}

.gotham_bold {
    font-family: "Gotham-Bold";
}

.gotham_medium {
    font-family: "Gotham-Medium";
}

.gotham_book {
    font-family: "Gotham-Book";
}

.roboto {
    font-family: "Roboto";
}

.uppercase {
    text-transform: uppercase;
}

/* ------------------- PAGE TOP (nav, header) ---------------------- */

#page_top {
    background-image: url("img/Layer_1.png");
    background-size: cover;
    min-height: 100vh;
    min-width: 100%;
}

/* ------------------------------ nav -------------------------------*/

nav {
    font-size: 1.25rem;
    margin: 0;
    padding: 0 10.5vw;
    border-bottom: 1px solid rgb(161, 161, 161, 0.5);
    display: flex;
    min-height: 6.95rem;
    justify-content: space-between;
}

#logo {
    padding-top: 1.375rem;
}

#navig {
    display: flex;
}

#nav_main {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    box-sizing: border-box;
}

#nav_main > * {
    padding: 2.60rem 1.5rem 2.5rem 1.5rem;
    height: auto;
}

.item a {
    text-decoration: none;
    color: white;
}

.item:hover {
    border-bottom: 5px solid #11749e;
}

#social_bar {
    display: flex;
    align-items: center;
    margin-left: 2vw;
}

#social_bar > * {
    padding: 0 0.75rem 0 0.75rem;
}

#fb {
    width: 0.75rem;
    position: relative;
    top: 3px;
}

#tw {
    width: 1.25rem;
    position: relative;
    top: 2px;
}

#sk {
    width: 1.125rem;
    position: relative;
    top: 4px;
}

#ld {
    width: 1.25rem;
    position: relative;
    top: 2px;
}


/* -------------------------- nav-menu --------------------------- */

#nav_menu {
    display: none;
    position: relative;
    padding: 3vh 10.5vw 3vh 10.5vw;
    min-height: auto;
}

#page_top a {
    margin: 0;
}

#menu {
    width: 12.5rem;
    padding: 1.25rem;
    text-align: center;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.25rem;
}

#drop_down_list > a {
    display: block;
    width: 12.5rem;
    padding: 1.25rem;
    text-align: center;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-decoration: none;
    box-sizing: border-box;
}

#drop_down_list {
    position: absolute;
    display: none;
}

#drop_down_menu {
    width: 12.5rem;
    position: relative;
    left: 5%;
}

#drop_down_list:hover,
#menu:hover + #drop_down_list {
    display: block;
    z-index: 1;
}

#menu:active + #drop_down_list {
    display: none;
}

#drop_down_list > a:hover {
    background-color: #11749eea;
    transition: .3s;
}

#menu_social_bar {
    display: none;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 12.5rem;
    padding: 1.25rem;
    text-align: center;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-decoration: none;
    box-sizing: border-box;
}


/* ---------------------------- Header -------------------------- */

header {
    padding: 0 10.5vw;
}

#header_block {
    display: flex;
    flex-flow: column nowrap;
    min-height: calc(100vh - 6.95rem);
    justify-content: center;
}

h1 {
    box-sizing: content-box;
    font-size: 10rem;
    text-align: center;
    margin: 0px;
}

#page_top > header {
    position: relative;
}

#header_text {
    font-size: 1.5rem;
    letter-spacing: 1.2vw;
    padding-left: 21px;
    margin: 0;
    text-align: center;
    color: #19617f;
    max-height: 1.5rem;
}

#scroll_down {
    padding-top: 10vh;
}

#scroll_down_image {
    margin-top: 1.25rem;
}

#scroll_down_text {
    text-align: center;
    font-size: 0.875rem;
}

#scroll_down_ellipse {
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
}

#scroll_down_arrow {
    position: absolute;
    transform: translate(-50%, 200%);
    left: 50%;
    transition: transform 1s;
}

#scroll_down_arrow:hover {
    transform: translate(-50%, 250%);
}

#scroll_down_ellipse:hover + #scroll_down_arrow {
    transform: translate(-50%, 250%);
}

/* -------------------------- ABOUT AREA ----------------------- */

#container_about {
    background-color: #11749e;
    margin: 0;
    padding: 10vh 10.5vw;
}

/* ---------------------- background letter ------------------------ */

.background_letter > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    font-size: 2.375rem;
    min-width: 100%;
}

.background_letter {
    position: relative;
    text-align: center;
}

/* ------------------------------------------------------------------ */

#features {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-top: 6.25vh;
}

.feature_header {
    text-align: center;
    font-size: 1.125rem;
}

.feature_img {
    text-align: center;
}

.feature_text {
    text-align: center;
    font-size: 1rem;
    padding: 1.25rem 2.125rem 1.25rem 2.125rem;
    margin-bottom: 0px;
}

.feature {
    flex: 1 1 20%;
}

/* ------------------------- GRID CONTAINER ------------------------*/

#grid_container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: max-content;
}

#grid_container img {
    width: 100%;
}

#grid_1 {
    padding: 10vh 10.5vw 15vh 10.5vw;
    background-color: #222222;
}

#grid_4 {
    padding: 10vh 10.5vw 15vh 10.5vw;
    background-color: #f3f3f3;  
    color: #222222;
}

#grid_text {
    font-size: 0.75rem;
}

#grid_text_2 {
    font-size: 1rem;
    line-height: 2rem;
}

#grid_header {
    margin-bottom: 3.125rem;
}

/* ------------------------- BLOG AREA ------------------------ */

#blog_area {
    margin: 0;
    padding: 10vh 10.5vw 10vh 10.5vw;
    background-color: #ffffff;
    color: #222222;
}

#blog_paragraph {
    font-size: 1.875rem;
    margin: 0;
    padding-top: 4vh;
    padding-bottom: 8vh;
    text-align: center;
}

#blog_flex {
    display: flex;
    flex-flow: row wrap;
}

.blog {
    text-align: center;
    flex: 1 1 20%;
}

.blog_header {
    color: #11749e;
}

.blog_text {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1rem;
    line-height: 1.5em;
}

.blog_text p {
    margin: 0;
}

/* ----------------------- QUICK ACTION AREA ----------------------- */

#quick_action_area {
    padding: 10vh 10vw;
    background-color: #11749e;
}

#quick_action_flex {
    display: flex;
    flex-flow: row wrap;
}

.quick_action_container {
    margin-left: 5%;
}

.quick_action_container {
    flex: 1 1 40%;
}

.quick_action_block {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.quick_action_text {
    font-size: 1rem;
    line-height: 1.5em;
    margin-left: 8%;
    margin-right: 8%;
}

/* --------------------------- KEY PARTICULARS ------------------------- */

#key_particular {
    background-image: url("img/key_feature_layer.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 10.5vw;
    padding-right: 10.5vw;
    position: relative;
}

#key_particular_img {
    max-width: fit-content;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
}

#key_particular_container {
    max-width: 40%;
}

#key_particular_header > h3 {
    margin: 0;
    padding-top: 26vh;;
    text-transform: uppercase;
    font-family: "Gotham-Medium";
    font-size: 1.5rem;
}

#key_particular_text {
    font-size: 1rem;
    line-height: 1.8rem;
}

#key_particular_list {
    padding-bottom: 26vh;;
}

#key_particular_list > p {
    margin: 0;
    margin-top: 3vh;
    padding: 1rem 0 1rem 1rem;
}

#particular_1,
#particular_2,
#particular_3 {
    background-color: #11749e;
}

#particular_1 {
    width: 70%;
}

#particular_2 {
    width: 85%;
}

/* ----------------------------TEAM AREA---------------------------- */

#team {
    background-color: #f3f3f3;
    padding: 8vh 10.5vw 8vh 10.5vw;
    min-height: 84vh;
}

#team > * {
    color: #222222;
}

#team_text {
    margin-top: 4%;
    margin-bottom: 4%;
    text-align: center;
    font-family: "Gotham-Book";
    font-size: 1.875rem;
}

#team_text p {
    margin: 0
}

#team_flex {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: space-between;
}

.team_member {
    flex: 0 1 270px;
}

.photo {
    text-align: center;
}

.team_photo_text {
    background-color: #f3f3f3;
    max-width: 200px;
    position: relative;
    bottom: 10%;
    left: 13%;
}

.team_name {
    text-transform: uppercase;
    font-size: 1.25rem;
    color: #11749e;
    padding-top: 1.25rem;
    margin: 0;
}

.team_job {
    font-size: 1rem;
    padding-top: 10px;
    padding-bottom: 1.5rem;
    margin: 0;
}

/* ----------------------- CONTACT AREA ------------------------ */


#contact {
    padding: 8vh 10.5vw 8vh 10.5vw;
    background-image: url("img/contact_layer.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 84vh;
}

#contact_flex {
    display: flex;
    flex-flow: row wrap;
    max-width: 100%;
    margin-top: 5%;
    justify-content: space-between;
}

input {
    background-color: transparent;
    padding: 1.25rem 23px 1.25rem 23px;
}

input:active {
    background-color: transparent;
}

#contact_name,
#contact_email,
#contact_phone {
    flex: 1 1 25%;
    margin-bottom: 2.625rem;
    font-size: 1rem;
    color: #ffffff;
}

#contact_email,
#contact_phone {
    margin-left: 1.875rem;
}

textarea {
    box-sizing: border-box;
    color: #ffffff;
}

#message {
    background-color: transparent;
    resize: none;
    overflow: hidden;
    color: white;
    min-width: 100%;
    min-height: 18.75rem;
    padding: 1.25rem 1.5rem 1.25rem 1.5rem;
    font-size: 1rem;
    margin-bottom: 2.625rem;
    overflow: auto;
}

#message::-webkit-scrollbar {
    width: 0.625rem;
    color: transparent;
}

#message::-webkit-scrollbar-track {
    background-color: transparent;
}

#message::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 5px rgb(255, 255, 255);
    border-radius: 5px;
}

#button_container {
    text-align: center;
}

#submit_button {
    background-color: #11749e;
    color: #ffffff;
    padding: 1.25rem 4rem 1.25rem 4rem;
    font-size: 1.5rem;
    text-align: center;
}

#submit_button > p {
    margin: 0;
}

#map > img {
    width: 100%;
}

#map {
    font-size: 0;
}

/* --------------------------- FOOTER ---------------------- */

#footer {
    padding: 6vh 10.5vw 6vh 10.5vw;
}

#flex_footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
}

#design_footer {
    display: flex;
    align-items: center;
    vertical-align: middle;
}

#design_footer img {
    position: relative;
    bottom: 20%;
}



/* ------------------- (media query) ------------------- */

@media screen and (max-width: 1645px) {
    
    #grid_container img {
        width: auto;
        height: 100%;
    }
    
    .blog {
        flex: 1 1 40%;
    }

    #blog_1,
    #blog_2 {
        margin-bottom: 10vh;
    }

    #team_flex {
        margin-left: 20%;
        margin-right: 20%;
    }


    .team_member {
        flex: 0 1 270px;
    }

    #team_member_1,
    #team_member_2 {
        margin-bottom: 8vh;
    }

    #team_text {
        margin-top: 8vh;
        margin-bottom: 8vh;
    }

}

@media screen and (max-width: 1400px) {

    #nav_bar {
        display: none;
    }

    #nav_menu {
        display: block;
        border: none;
    }

    #nav_flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #nav_flex > * {
        text-align: center;
    }

    #logo {
        padding-top: 0px;
    }
    
    #social_bar {
        margin: 0;
        justify-content: center;
    }

    header {
        padding: 0 10.5vw;
    }

    #grid_container {
        display: flex;
        flex-flow: column nowrap;
        background-image: url("img/Layer_opacity.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
    }

    #grid_container img {
        display: none;
    }

    #grid_1,
    #grid_4 {
        background-color: transparent;
        padding: 0;
        margin-left: 10.5vw;
        margin-right: 10.5vw;
        padding: 1.25rem;
    }

    #grid_1 {
        background-color: #222222;
    }

    #grid_4 {
        background-color: #f3f3f3;;
    }

    #grid_1 {
        margin-top: 84px;
        margin-bottom: 2.5rem;
    }

    #grid_4 {
        margin-top: 2.5rem;
        margin-bottom: 84px;
    }

    #key_particular_img {
        left: 40%;
    }

    #contact {
        padding-left: 6.25rem;
        padding-right: 6.25rem;
    }
}

@media screen and (max-width: 1280px) {
    
    #team_flex {
        margin-left: 15%;
        margin-right: 15%;
    }

    #key_particular_img {
        display: none;
    }    

    #key_particular_container {
        min-width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    html,
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 12vw;
    }

    #header_text {
        font-size: 1.8vw;
        
    }

    .feature {
        flex: 1 1 40%;
        padding: 0 3vw;
    }

    #feature_1,
    #feature_2 {
        margin-bottom: 6vh;
    }

    .feature p {
        text-align: justify;
    }

    #team_flex {
        margin-left: 8%;
        margin-right: 8%;
    }

    #contact_flex {
        flex-flow: column nowrap;
    }

    #contact_email,
    #contact_phone {
    margin-left: 0;
}

    #map {
        display: none;
    }
}

@media screen and (max-width: 970px) {
    
    #quick_action_flex {
        flex-direction: column;
    }

    #quick_action_2 {
        margin-top: 8vh;
    }

    #team_flex {
        margin-left: 0;
        margin-right: 0;
    }

    #wrapping_header {
        top: 70%;
    }
}

@media screen and (max-width: 780px) {

    #features {
        flex-direction: column;
        margin-top: 8vh;
    }

    #feature_1,
    #feature_2,
    #feature_3 {
        margin-bottom: 6vh;
    }

    .feature p {
        text-align: center;
    }

    #blog_flex {
        flex-direction: column;
    }

    .blog {
        margin: 3vh 0 !important;
    }

    #team_flex {
        flex-direction: column;
        align-items: center;
    }

    .team_member {
        margin: 2vh 0 !important;
    }

    .team_photo_text {
        left: 13%;
    }

    #social_bar {
        display: none;
    }

    #menu_social_bar {
        display: flex;
    }

    #flex_footer {
        flex-flow: column;
        align-items: flex-end;
    }

}

@media screen and (max-width: 596px) {
    #wrapping_header {
        top: 90%;
    }
}
